<!-- 底部<?php if(!defined('ucms'))exit; ?> -->
<div class="clear"></div>
<div class="footer warp">
	&copy; <?php echo(date('Y')); ?> <?php echo('<a href="http://uuu.la" target="_blank">UCMS</a>'); ?>. All rights reserved. <?php  ?>
	<?php echo(z('备案号')); ?> <?php echo(z('统计代码')); ?>
</div>
